<section id="addInventory-section">
    <form>
        <%- select %>
        <div id="classification-dropdown"></div>
        <label for="make">Enter Make:</label>
        <input type="text" id="make" name="make" value="<%= locals.make %>" required></input>
        <label for="model">Enter Model:</label>
        <input type="text" id="model" name="model" value="<%= locals.model %>" required></input>
        <label for="year">Enter Year:</label>
        <input type="number" id="year" name="year" maxLength="4" value="<%= locals.year %>" required></input>
        <label for="description">Enter Description:</label>
        <textarea id="description" name="description" rows="4" required><%= locals.description %></textarea>
        <label for="image">Image Path:</label>
        <input type="text" id="image" name="image" value="/images/vehicles/no-image.png" required></input>
        <label for="thumbnail">Thumbnail Path:</label>
        <input type="text" id="thumbnail" name="thumbnail" value="/images/vehicles/no-image.png" required></input>
        <label for="price">Enter Price:</label>
        <input type="number" id="price" name="price" value="<%= locals.price %>"  required></input>
        <label for="miles">Enter Miles:</label>
        <input type="number" id="miles" name="miles" value="<%= locals.miles %>" required ></input>
        <label for="color">Enter Color:</label>
        <input type="text" id="color" name="color" value="<%= locals.color %>" required></input>
        <button type="submit">SUBMIT</button>
    </form>
</section>